export LANG="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"

# java
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
# android setup
export ANDROID_HOME=$HOME/Library/Android/sdk
# add to path
export PATH=$ANDROID_HOME/tools:$PATH
export PATH=$ANDROID_HOME/platform-tools:$PATH
# export PATH=$ANDROID_HOME/build-tools/28.0.1:$PATH